body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family:'Noto Serif TC', serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

}
.todoListItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0;
  margin: 0;
  color: #C39738;

}
.todo__list {
  display: flex;
  width: 500px;
  padding:0;

}
.modal {
  display: flex;
  align-items: center;
  justify-content:center;
}

.topForm {
  margin-left: 90px;
  color: #FFFF96;

}